# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- popular languages that Data Scientists
- commonly used tibraries used by Data Scientists
- development environment open source tools used in data science
- few examples of evaluating arithmetic expressions
- multiply and add numbers
- convert minutes to hours

Some of the popular languages that Data Scientists Use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

Three development environment open source tools used in data science.

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Google Colab |
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

## Author
Ali REZOUALI