<a href="https://colab.research.google.com/github/net4troll/DS-GMC-WS/blob/main/Ali_REZOUALI_let's_code_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Display numbers from -10 to -1 using for loop
for i in range(-10,0,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#Given a number count the total number of digits in a number, for example, the number is 75869, so the output should be 5
n = 76869
len(str(n))

5

In [ ]:
#Write a function which Displays the cube of the number up to a given integer, for example the number is 2 the cube should be 8
def cube(n):
  cube = n**3
  print(cube)
cube(2)

8

In [ ]:
#Given two integer numbers return their product. If the product is greater than 1000, then return their sum
n=35
p=60
if n*p > 1000:
  print("sum is ", n+p)
else:
  print("product is " , n*p)

sum is  95

In [ ]:
#Given a list of numbers, return True if first and last number of a list is same
l = [2,4,7,2,0,1]
if l[0] == l[-1]:
  print(True)
else:
  print(False)

False

In [ ]:
#Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list,
#for example list1 =  [10, 20, 23, 11, 17] and list 2 = [13, 43, 24, 36, 12]  => result should be [23, 11, 17, 24, 36, 12]
list1 =  [10, 20, 23, 11, 17]
list2 = [13, 43, 24, 36, 12]
list3 = []
for x in list1:
  if x % 2 != 0:
    list3.append(x)
for y in list2:
  if y % 2 == 0:
    list3.append(y)
print(list3)

[23, 11, 17, 24, 36, 12]

In [ ]:
def list_appender(x_list,y_list):
  k=[]
  k.append([x for x in x_list if x % 2 != 0] )
  k.append([y for y in y_list if y %2 == 0])
  return print(k)
list_appender(list1,list2)

[[23, 11, 17], [24, 36, 12]]

In [ ]:
#Write a function which Iterates a given list and counts the occurrence of each element and creates a dictionary to show the count of each element,
#for example: input list  [11, 45, 8, 11, 23, 45, 23, 45, 89]=> result should be {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}
list4 = [11, 45, 8, 11, 23, 45, 23, 45, 89]
def list_counter(alist):
  dic1={}
  for i in alist:
    dic1[i]=alist.count(i)
  print(dic1)
list_counter(list4)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [ ]:
#Write a function which finds the intersection of two sets and removes common elements from the first set.
#for example: First Set  {65, 42, 78, 83, 23, 57, 29} and Second Set  {67, 73, 43, 48, 83, 57, 29} => Intersection should be  {57, 83, 29} and First Set after removing common element  {65, 42, 78, 23}
set1=set({65, 42, 78, 83, 23, 57, 29})
set2=set({67, 73, 43, 48, 83, 57, 29})
def my_func(s1,s2):
  s3=s1.intersection(s2)
  s1.difference_update(s3)
  print(s3)
  print(s1)
my_func(set1,set2)

{57, 83, 29}
{65, 23, 42, 78}