In [17]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
import matplotlib.pyplot as plt
from tensorflow.keras.utils import to_categorical

In [93]:
data = pd.read_csv('/Users/alfahwun/Downloads/bank.csv')

In [19]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [20]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [94]:
data = data.drop(['day','month','pdays'],axis=1)

In [22]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,673,2,-1,0,unknown,yes

In [70]:
[data[i].unique() for i in data.select_dtypes(include='object').columns ]

[array(['admin.', 'technician', 'services', 'management', 'retired',
        'blue-collar', 'unemployed', 'entrepreneur', 'housemaid',
        'unknown', 'self-employed', 'student'], dtype=object),
 array(['married', 'single', 'divorced'], dtype=object),
 array(['secondary', 'tertiary', 'primary', 'unknown'], dtype=object),
 array(['no', 'yes'], dtype=object),
 array(['yes', 'no'], dtype=object),
 array(['no', 'yes'], dtype=object),
 array(['unknown', 'cellular', 'telephone'], dtype=object),
 array(['unknown', 'other', 'failure', 'success'], dtype=object),
 array(['yes', 'no'], dtype=object)]

In [113]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
def feature_encoder(*labels):
  for label in labels:
    data[label] = encoder.fit_transform(data[label])
    print(f"{label} is encoded.")

In [118]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

def encode_categorical_columns(df, categorical_cols):
    # Initialize OneHotEncoder object
    encoder = OneHotEncoder()
    # Fit the encoder on the specified categorical columns
    encoder.fit(df[categorical_cols])
    # Transform the specified categorical columns using the encoder
    transformed_data = encoder.transform(df[categorical_cols]).toarray()
    # Create a list of column names for the new encoded columns
    encoded_cols = []
    for i, category in enumerate(encoder.categories_):
        encoded_cols.extend(categorical_cols[i] + '_' + value for value in category)
    # Create a new DataFrame with the encoded columns
    encoded_df = pd.DataFrame(transformed_data, columns=encoded_cols)
    # Concatenate the encoded DataFrame with the original DataFrame
    df = pd.concat([df, encoded_df], axis=1)
    # Drop the original categorical columns
    df.drop(columns=categorical_cols, inplace=True)
    # Return the updated DataFrame
    return df

In [119]:
data = encode_categorical_columns(data,['job','contact'])

In [120]:
feature_encoder( 'marital', 'education', 'default', 'housing', 'loan',
       'poutcome', 'deposit')

marital is encoded.
education is encoded.
default is encoded.
housing is encoded.
loan is encoded.
poutcome is encoded.
deposit is encoded.

In [121]:
data.head()

,age,marital,education,default,balance,housing,loan,duration,campaign,pdays,...,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,contact_cellular,contact_telephone,contact_unknown
0,59,1,1,0,2343,1,0,1042,1,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,56,1,1,0,45,0,0,1467,1,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,41,1,1,0,1270,1,0,1389,1,-1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,55,1,1,0,2476,1,0,579,1,-1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,54,1,2,0,184,0,0,673,2,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [122]:
X = data.drop('deposit',axis=1)
y = data['deposit']

In [123]:
X.shape

(11162, 27)

In [124]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X, y, test_size = 0.1,random_state=123)
X_model, X_valid, y_model, y_valid = train_test_split(X_train, y_train, test_size = 0.2,random_state=123)

In [125]:
from keras.callbacks import EarlyStopping
# Set callback functions to early stop training 
mycallbacks = [EarlyStopping(monitor='loss', patience=10)]

In [127]:
X.shape

(11162, 27)

In [131]:
model = Sequential([
    Dense(17,input_dim=27,activation='relu'),
    Dense(34,activation='tanh'),
    Dense(1,activation='sigmoid')]
)


model.compile(loss='binary_crossentropy', optimizer='adam', metrics=["accuracy"]) # Configure the model for training
histroy = model.fit(X_model, y_model, validation_data=(X_valid, y_valid) ,batch_size=128,epochs= 100) #training

model.summary()

Epoch 1/100

2023-03-01 10:51:47.746753: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

63/63 [==============================] - ETA: 0s - loss: 0.7189 - accuracy: 0.5309

2023-03-01 10:51:49.189444: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

63/63 [==============================] - 2s 20ms/step - loss: 0.7189 - accuracy: 0.5309 - val_loss: 0.6503 - val_accuracy: 0.6595
Epoch 2/100
63/63 [==============================] - 1s 11ms/step - loss: 0.6247 - accuracy: 0.6663 - val_loss: 0.5926 - val_accuracy: 0.6899
Epoch 3/100
63/63 [==============================] - 1s 11ms/step - loss: 0.5818 - accuracy: 0.7015 - val_loss: 0.5721 - val_accuracy: 0.7003
Epoch 4/100
63/63 [==============================] - 1s 10ms/step - loss: 0.5646 - accuracy: 0.7188 - val_loss: 0.5552 - val_accuracy: 0.7213
Epoch 5/100
63/63 [==============================] - 1s 12ms/step - loss: 0.5451 - accuracy: 0.7287 - val_loss: 0.5408 - val_accuracy: 0.7337
Epoch 6/100
63/63 [==============================] - 1s 10ms/step - loss: 0.5403 - accuracy: 0.7359 - val_loss: 0.5341 - val_accuracy: 0.7367
Epoch 7/100
63/63 [==============================] - 1s 10ms/step - loss: 0.5322 - accuracy: 0.7405 - val_loss: 0.5344 - val_accuracy: 0.7466
Epoch 8/100
63/63 [==============================] - 1s 10ms/step - loss: 0.5296 - accuracy: 0.7418 - val_loss: 0.5155 - val_accuracy: 0.7556
Epoch 9/100
63/63 [==============================] - 1s 10ms/step - loss: 0.5187 - accuracy: 0.7536 - val_loss: 0.5248 - val_accuracy: 0.7372
Epoch 10/100
63/63 [==============================] - 1s 11ms/step - loss: 0.5228 - accuracy: 0.7440 - val_loss: 0.5330 - val_accuracy: 0.7466
Epoch 11/100
63/63 [==============================] - 1s 10ms/step - loss: 0.5209 - accuracy: 0.7476 - val_loss: 0.5153 - val_accuracy: 0.7631
Epoch 12/100
63/63 [==============================] - 1s 11ms/step - loss: 0.5181 - accuracy: 0.7496 - val_loss: 0.5224 - val_accuracy: 0.7427
Epoch 13/100
63/63 [==============================] - 1s 12ms/step - loss: 0.5218 - accuracy: 0.7449 - val_loss: 0.5319 - val_accuracy: 0.7282
Epoch 14/100
63/63 [==============================] - 1s 11ms/step - loss: 0.5255 - accuracy: 0.7442 - val_loss: 0.5212 - val_accuracy: 0.7516
Epoch 15/100
63/63 [==============================] - 1s 11ms/step - loss: 0.5172 - accuracy: 0.7542 - val_loss: 0.5132 - val_accuracy: 0.7581
Epoch 16/100
63/63 [==============================] - 1s 11ms/step - loss: 0.5129 - accuracy: 0.7496 - val_loss: 0.5108 - val_accuracy: 0.7536
Epoch 17/100
63/63 [==============================] - 1s 11ms/step - loss: 0.5183 - accuracy: 0.7471 - val_loss: 0.5171 - val_accuracy: 0.7546
Epoch 18/100
63/63 [==============================] - 1s 16ms/step - loss: 0.5154 - accuracy: 0.7499 - val_loss: 0.5292 - val_accuracy: 0.7347
Epoch 19/100
63/63 [==============================] - 1s 10ms/step - loss: 0.5180 - accuracy: 0.7483 - val_loss: 0.5282 - val_accuracy: 0.7158
Epoch 20/100
63/63 [==============================] - 1s 10ms/step - loss: 0.5060 - accuracy: 0.7577 - val_loss: 0.5075 - val_accuracy: 0.7596
Epoch 21/100
63/63 [==============================] - 1s 10ms/step - loss: 0.5051 - accuracy: 0.7673 - val_loss: 0.5305 - val_accuracy: 0.7332
Epoch 22/100
63/63 [==============================] - 1s 10ms/step - loss: 0.5052 - accuracy: 0.7605 - val_loss: 0.5184 - val_accuracy: 0.7357
Epoch 23/100
63/63 [==============================] - 1s 10ms/step - loss: 0.5064 - accuracy: 0.7585 - val_loss: 0.5169 - val_accuracy: 0.7476
Epoch 24/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4996 - accuracy: 0.7613 - val_loss: 0.5046 - val_accuracy: 0.7571
Epoch 25/100
63/63 [==============================] - 1s 11ms/step - loss: 0.4962 - accuracy: 0.7664 - val_loss: 0.5343 - val_accuracy: 0.7551
Epoch 26/100
63/63 [==============================] - 1s 13ms/step - loss: 0.5011 - accuracy: 0.7638 - val_loss: 0.5082 - val_accuracy: 0.7536
Epoch 27/100
63/63 [==============================] - 1s 14ms/step - loss: 0.5091 - accuracy: 0.7530 - val_loss: 0.5064 - val_accuracy: 0.7685
Epoch 28/100
63/63 [==============================] - 1s 12ms/step - loss: 0.4976 - accuracy: 0.7617 - val_loss: 0.5136 - val_accuracy: 0.7526
Epoch 29/100
63/63 [==============================] - 1s 12ms/step - loss: 0.4963 - accuracy: 0.7613 - val_loss: 0.5054 - val_accuracy: 0.7700
Epoch 30/100
63/63 [==============================] - 1s 13ms/step - loss: 0.4982 - accuracy: 0.7582 - val_loss: 0.5075 - val_accuracy: 0.7621
Epoch 31/100
63/63 [==============================] - 1s 14ms/step - loss: 0.4963 - accuracy: 0.7623 - val_loss: 0.5340 - val_accuracy: 0.7491
Epoch 32/100
63/63 [==============================] - 1s 11ms/step - loss: 0.5081 - accuracy: 0.7470 - val_loss: 0.5129 - val_accuracy: 0.7541
Epoch 33/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4993 - accuracy: 0.7586 - val_loss: 0.5013 - val_accuracy: 0.7690
Epoch 34/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4892 - accuracy: 0.7668 - val_loss: 0.4979 - val_accuracy: 0.7661
Epoch 35/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4931 - accuracy: 0.7628 - val_loss: 0.5062 - val_accuracy: 0.7606
Epoch 36/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4991 - accuracy: 0.7545 - val_loss: 0.4962 - val_accuracy: 0.7785
Epoch 37/100
63/63 [==============================] - 1s 11ms/step - loss: 0.4900 - accuracy: 0.7610 - val_loss: 0.4898 - val_accuracy: 0.7626
Epoch 38/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4894 - accuracy: 0.7643 - val_loss: 0.4974 - val_accuracy: 0.7675
Epoch 39/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4925 - accuracy: 0.7597 - val_loss: 0.5034 - val_accuracy: 0.7621
Epoch 40/100
63/63 [==============================] - 1s 11ms/step - loss: 0.4961 - accuracy: 0.7565 - val_loss: 0.4920 - val_accuracy: 0.7651
Epoch 41/100
63/63 [==============================] - 1s 11ms/step - loss: 0.4905 - accuracy: 0.7664 - val_loss: 0.5066 - val_accuracy: 0.7626
Epoch 42/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4884 - accuracy: 0.7601 - val_loss: 0.4906 - val_accuracy: 0.7626
Epoch 43/100
63/63 [==============================] - 1s 11ms/step - loss: 0.4864 - accuracy: 0.7617 - val_loss: 0.4989 - val_accuracy: 0.7556
Epoch 44/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4810 - accuracy: 0.7627 - val_loss: 0.4888 - val_accuracy: 0.7675
Epoch 45/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4827 - accuracy: 0.7712 - val_loss: 0.4947 - val_accuracy: 0.7651
Epoch 46/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4828 - accuracy: 0.7717 - val_loss: 0.4975 - val_accuracy: 0.7636
Epoch 47/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4820 - accuracy: 0.7693 - val_loss: 0.4907 - val_accuracy: 0.7646
Epoch 48/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4839 - accuracy: 0.7680 - val_loss: 0.5205 - val_accuracy: 0.7451
Epoch 49/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4794 - accuracy: 0.7720 - val_loss: 0.4893 - val_accuracy: 0.7675
Epoch 50/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4831 - accuracy: 0.7674 - val_loss: 0.4935 - val_accuracy: 0.7591
Epoch 51/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4822 - accuracy: 0.7679 - val_loss: 0.4955 - val_accuracy: 0.7725
Epoch 52/100
63/63 [==============================] - 1s 11ms/step - loss: 0.4837 - accuracy: 0.7637 - val_loss: 0.4861 - val_accuracy: 0.7626
Epoch 53/100
63/63 [==============================] - 1s 11ms/step - loss: 0.4913 - accuracy: 0.7631 - val_loss: 0.5020 - val_accuracy: 0.7586
Epoch 54/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4784 - accuracy: 0.7739 - val_loss: 0.4947 - val_accuracy: 0.7506
Epoch 55/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4767 - accuracy: 0.7684 - val_loss: 0.4826 - val_accuracy: 0.7750
Epoch 56/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4716 - accuracy: 0.7768 - val_loss: 0.4932 - val_accuracy: 0.7561
Epoch 57/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4784 - accuracy: 0.7700 - val_loss: 0.4950 - val_accuracy: 0.7680
Epoch 58/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4768 - accuracy: 0.7705 - val_loss: 0.4927 - val_accuracy: 0.7730
Epoch 59/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4788 - accuracy: 0.7754 - val_loss: 0.4870 - val_accuracy: 0.7735
Epoch 60/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4805 - accuracy: 0.7704 - val_loss: 0.4849 - val_accuracy: 0.7666
Epoch 61/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4765 - accuracy: 0.7736 - val_loss: 0.4929 - val_accuracy: 0.7685
Epoch 62/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4968 - accuracy: 0.7530 - val_loss: 0.4918 - val_accuracy: 0.7755
Epoch 63/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4779 - accuracy: 0.7703 - val_loss: 0.4894 - val_accuracy: 0.7730
Epoch 64/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4743 - accuracy: 0.7712 - val_loss: 0.4903 - val_accuracy: 0.7745
Epoch 65/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4780 - accuracy: 0.7689 - val_loss: 0.4953 - val_accuracy: 0.7666
Epoch 66/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4821 - accuracy: 0.7677 - val_loss: 0.4860 - val_accuracy: 0.7700
Epoch 67/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4722 - accuracy: 0.7781 - val_loss: 0.5063 - val_accuracy: 0.7272
Epoch 68/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4848 - accuracy: 0.7561 - val_loss: 0.4986 - val_accuracy: 0.7626
Epoch 69/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4767 - accuracy: 0.7764 - val_loss: 0.4889 - val_accuracy: 0.7710
Epoch 70/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4730 - accuracy: 0.7702 - val_loss: 0.5166 - val_accuracy: 0.7332
Epoch 71/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4695 - accuracy: 0.7704 - val_loss: 0.4762 - val_accuracy: 0.7845
Epoch 72/100
63/63 [==============================] - 1s 12ms/step - loss: 0.4746 - accuracy: 0.7733 - val_loss: 0.5063 - val_accuracy: 0.7780
Epoch 73/100
63/63 [==============================] - 1s 12ms/step - loss: 0.4682 - accuracy: 0.7765 - val_loss: 0.4785 - val_accuracy: 0.7760
Epoch 74/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4622 - accuracy: 0.7800 - val_loss: 0.4815 - val_accuracy: 0.7855
Epoch 75/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4578 - accuracy: 0.7838 - val_loss: 0.4935 - val_accuracy: 0.7387
Epoch 76/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4716 - accuracy: 0.7730 - val_loss: 0.4752 - val_accuracy: 0.7880
Epoch 77/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4756 - accuracy: 0.7720 - val_loss: 0.4841 - val_accuracy: 0.7815
Epoch 78/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4615 - accuracy: 0.7779 - val_loss: 0.4900 - val_accuracy: 0.7760
Epoch 79/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4662 - accuracy: 0.7787 - val_loss: 0.4839 - val_accuracy: 0.7745
Epoch 80/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4615 - accuracy: 0.7780 - val_loss: 0.4754 - val_accuracy: 0.7850
Epoch 81/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4644 - accuracy: 0.7753 - val_loss: 0.4900 - val_accuracy: 0.7730
Epoch 82/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4593 - accuracy: 0.7851 - val_loss: 0.4696 - val_accuracy: 0.7875
Epoch 83/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4622 - accuracy: 0.7754 - val_loss: 0.4739 - val_accuracy: 0.7830
Epoch 84/100
63/63 [==============================] - 1s 11ms/step - loss: 0.4672 - accuracy: 0.7774 - val_loss: 0.4885 - val_accuracy: 0.7850
Epoch 85/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4622 - accuracy: 0.7797 - val_loss: 0.4983 - val_accuracy: 0.7695
Epoch 86/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4618 - accuracy: 0.7754 - val_loss: 0.4758 - val_accuracy: 0.7810
Epoch 87/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4617 - accuracy: 0.7799 - val_loss: 0.4846 - val_accuracy: 0.7641
Epoch 88/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4685 - accuracy: 0.7729 - val_loss: 0.4894 - val_accuracy: 0.7680
Epoch 89/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4692 - accuracy: 0.7755 - val_loss: 0.4786 - val_accuracy: 0.7755
Epoch 90/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4575 - accuracy: 0.7751 - val_loss: 0.5021 - val_accuracy: 0.7536
Epoch 91/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4638 - accuracy: 0.7750 - val_loss: 0.4816 - val_accuracy: 0.7750
Epoch 92/100
63/63 [==============================] - 1s 11ms/step - loss: 0.4569 - accuracy: 0.7799 - val_loss: 0.4819 - val_accuracy: 0.7710
Epoch 93/100
63/63 [==============================] - 1s 11ms/step - loss: 0.4609 - accuracy: 0.7771 - val_loss: 0.4809 - val_accuracy: 0.7870
Epoch 94/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4538 - accuracy: 0.7948 - val_loss: 0.4725 - val_accuracy: 0.7855
Epoch 95/100
63/63 [==============================] - 1s 12ms/step - loss: 0.4618 - accuracy: 0.7824 - val_loss: 0.4773 - val_accuracy: 0.7875
Epoch 96/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4570 - accuracy: 0.7894 - val_loss: 0.4764 - val_accuracy: 0.7795
Epoch 97/100
63/63 [==============================] - 1s 12ms/step - loss: 0.4570 - accuracy: 0.7858 - val_loss: 0.4804 - val_accuracy: 0.7790
Epoch 98/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4548 - accuracy: 0.7870 - val_loss: 0.4980 - val_accuracy: 0.7412
Epoch 99/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4608 - accuracy: 0.7779 - val_loss: 0.4729 - val_accuracy: 0.7755
Epoch 100/100
63/63 [==============================] - 1s 10ms/step - loss: 0.4542 - accuracy: 0.7826 - val_loss: 0.4729 - val_accuracy: 0.7775
Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 17)                476

 dense_20 (Dense)            (None, 34)                612

 dense_21 (Dense)            (None, 1)                 35

=================================================================
Total params: 1,123
Trainable params: 1,123
Non-trainable params: 0
_________________________________________________________________