### An API allows different software systems to communicate with each other and exchange information in a standardized way.

In [1]:
import requests
u = 'http://api.open-notify.org/astros.json'
res = requests.get(u)
print(res.status_code) #it shows us the status code directly

200

In [2]:
import json
response = requests.get("http://api.open-notify.org/astros.json")

In [3]:
data = json.loads(response.text)
data

{'message': 'success',
 'people': [{'name': 'Sergey Prokopyev', 'craft': 'ISS'},
  {'name': 'Dmitry Petelin', 'craft': 'ISS'},
  {'name': 'Frank Rubio', 'craft': 'ISS'},
  {'name': 'Nicole Mann', 'craft': 'ISS'},
  {'name': 'Josh Cassada', 'craft': 'ISS'},
  {'name': 'Koichi Wakata', 'craft': 'ISS'},
  {'name': 'Anna Kikina', 'craft': 'ISS'},
  {'name': 'Fei Junlong', 'craft': 'Shenzhou 15'},
  {'name': 'Deng Qingming', 'craft': 'Shenzhou 15'},
  {'name': 'Zhang Lu', 'craft': 'Shenzhou 15'}],
 'number': 10}

In [4]:
import pandas as pd

df = pd.DataFrame(data['people'])
df

               name        craft
0  Sergey Prokopyev          ISS
1    Dmitry Petelin          ISS
2       Frank Rubio          ISS
3       Nicole Mann          ISS
4      Josh Cassada          ISS
5     Koichi Wakata          ISS
6       Anna Kikina          ISS
7       Fei Junlong  Shenzhou 15
8     Deng Qingming  Shenzhou 15
9          Zhang Lu  Shenzhou 15